:root {
  /* Colors */
  --main-text-color: #212121;
  --additional-text-color: #757575;
  --accent-color: #2196f3;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --button-bg-color: #f5f4fa;
  --socials-main-color: #afb1b8;
  /* Borders */
  --header-border-color: #ececec;
  --portfolio-border-color: #eeeeee;
  /* Fonts */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /* Transition */
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /* Transform */
  --transform-effect: scale(1.1, 1.2);
  /* Flexbox-gap */
  --flexbox-gap: 30px;
  /* Font-size */
  --font-standard-size: 14px;
}

/* CSS-base */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
::before {
  box-sizing: inherit;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: var(--main-font);
  font-size: var(--font-standard-size);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

/* CSS-common */

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

/*---------------
    Header
---------------*/

.header {
  border-bottom: 1px solid var(--header-border-color);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav__logo {
  margin-right: 92px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(100% + 5px);
}

.header-nav__logo span {
  color: var(--accent-color);
}

.header-nav__list {
  display: flex;
}

.header-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header-nav__list li:last-child {
  margin-right: 0;
}

.header-nav__link {
  position: relative;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: var(--font-standard-size);
  line-height: calc(100% + 2px);
  letter-spacing: 0.02em;
  color: var(--main-text-color);

  transition-duration: var(--transition-duration);
  transition-property: color;
  transition-timing-function: var(--transition-timing-function);
}

.header-nav__link:hover::after,
.header-nav__link:focus::after,
.current-link a::after {
  content: '';
  position: absolute;
  top: 45px;
  display: block;
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
}

.header-nav__link:hover,
.header-nav__link:focus {
  color: var(--accent-color);
}

.header-contacts__list {
  display: flex;
}

.header-contacts__item a {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: var(--font-standard-size);
  line-height: calc(100% + 2px);
  letter-spacing: 0.02em;
  color: var(--additional-text-color);

  transition-duration: var(--transition-duration);
  transition-property: fill, color;
  transition-timing-function: var(--transition-timing-function);
}

.header-contacts__item a:hover,
.header-contacts__item a:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.header-contacts__item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts__list li:last-child {
  margin-right: 0;
}

.header-contacts__mail {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.header-contacts__mail-svg {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.header-contacts__tel {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.header-contacts__tel-svg {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

/* /index.html */

/*---------------
      Hero
---------------*/

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .container {
  max-width: 1600px;
  padding-bottom: 200px;
  padding-top: 200px;
}

.hero-text {
  display: flex;
  justify-content: center;
}

.hero__title {
  text-align: center;
  max-width: 696px;
  padding-bottom: 30px;
  color: var(--main-bg-color);
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: calc(100% + 16px);
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-btn {
  display: flex;
  justify-content: center;
}

.hero__button,
.global-btn {
  min-height: 50px;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(100% + var(--font-standard-size));
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--main-bg-color);

  transition-duration: var(--transition-duration);
  transition-property: transform;
}

.hero__button:hover,
.global-btn:hover,
.hero__button:focus,
.global-btn:focus {
  transform: var(--transform-effect);
}

/*---------------
    After-hero
---------------*/

.after-hero__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--flexbox-gap));
  margin-left: calc(-1 * var(--flexbox-gap));
}

.after-hero__item {
  margin-top: var(--flexbox-gap);
  margin-left: var(--flexbox-gap);
  flex-basis: calc((100% - 4 * var(--flexbox-gap)) / 4);
}

.after-hero-img {
  background-color: var(--button-bg-color);
  max-width: 270px;
  max-height: 120px;
  padding: 25px 100px;
}

.after-hero__svg {
  min-height: 70px;
  min-width: 70px;
}

.after-hero__subtitle {
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: var(--font-standard-size);
  line-height: calc(100% + 2px);
  text-transform: uppercase;
  color: var(--main-text-color);
}

.after-hero__text {
  font-size: var(--font-standard-size);
  line-height: calc(100% + 10px);
  color: var(--additional-text-color);
}

.after-hero__list li:last-child {
  margin-right: 0;
}

/*---------------
     Our-work
---------------*/

.our-work .container {
  padding-bottom: 94px;
}

.our-work__title {
  text-align: center;
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(100% + 6px);
  color: var(--main-text-color);
}

.our-work__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--flexbox-gap));
  margin-left: calc(-1 * var(--flexbox-gap));
}

.our-work__item {
  position: relative;
  margin-top: var(--flexbox-gap);
  margin-left: var(--flexbox-gap);
  flex-basis: calc((100% - 3 * var(--flexbox-gap)) / 3);
}

.our-work__img {
  min-width: 370px;
  min-height: 294px;
}

.our-work__text {
  position: absolute;
  bottom: 0;
  display: block;
  padding: 28px 82px;
  width: 100%;
  text-align: center;
  font-size: var(--font-standard-size);
  line-height: calc(100% + 2px);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--main-bg-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.our-work__list li:last-child {
  margin-right: 0;
}

/*---------------
     Our-team
---------------*/

.our-team {
  background-color: var(--button-bg-color);
}

.our-team .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-team__title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(100% + 6px);
  color: var(--main-text-color);
  padding-bottom: 50px;
}

.our-team__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--flexbox-gap));
  margin-left: calc(-1 * var(--flexbox-gap));
}

.our-team__item {
  margin-top: var(--flexbox-gap);
  margin-left: var(--flexbox-gap);
  flex-basis: calc((100% - 4 * var(--flexbox-gap)) / 4);
}

.our-team__list li:last-child {
  margin-right: 0;
}

.our-team__content {
  text-align: center;
  padding: 30px 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-bg-color);
}

.our-team__subtitle {
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(100% + 2px);
  color: var(--main-text-color);
}
.our-team__text {
  font-size: 16px;
  line-height: calc(100% + 2px);
  color: var(--additional-text-color);
}

.our-team-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-right: 32px;
  padding-left: 32px;
}

.our-team-icons__item:not(:last-child) {
  padding-right: 10px;
}

.our-team-icons__item:last-child {
  margin-right: 0;
}

.our-team-icons__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--socials-main-color);

  transition-duration: var(--transition-duration);
  transition-property: background-color, fill;
  transition-timing-function: var(--transition-timing-function);
}

.our-team-icons__link:hover,
.our-team-icons__link:focus {
  border-radius: 50%;
  background-color: var(--accent-color);
  fill: var(--main-bg-color);
}

.our-team-icons__svg {
  width: 20px;
  height: 20px;
}

/*---------------
    Our-clients
---------------*/

.our-clients__title {
  padding-bottom: 50px;
  text-align: center;
  font-size: 36px;
  line-height: calc(100% + 6px);
  font-weight: 700;
}

.our-clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--flexbox-gap));
  margin-left: calc(-1 * var(--flexbox-gap));
}

.our-clients__item {
  display: flex;
  align-items: center;
  margin-top: var(--flexbox-gap);
  margin-left: var(--flexbox-gap);
  flex-basis: calc((100% - 6 * var(--flexbox-gap)) / 6);
  max-width: 170px;
  max-height: 92px;
}

.our-clients__link {
  padding: 16px 32px;
  fill: var(--socials-main-color);
  border: 1px solid var(--socials-main-color);
  border-radius: 4px;

  transition-duration: var(--transition-duration);
  transition-property: fill, border;
  transition-timing-function: var(--transition-timing-function);
}

.our-clients__link:hover,
.our-clients__link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.our-clients__img {
  max-height: 60px;
  max-width: 106px;
}

/* /portfolio.html */

/*---------------
      Filter
---------------*/

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
}

.filter__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-left: 8px;
}

.filter__item:last-child {
  margin-left: 8px;
  margin-right: 0;
}

.filter__button {
  font-weight: 500;
  font-size: 16px;
  min-height: 38px;
  min-width: 73px;
  padding: 6px 22px;
  border-radius: 4px;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(100% + 10px);
  background-color: var(--button-bg-color);

  transition-duration: var(--transition-duration);
  transition-property: background-color, color, box-shadow;
  transition-timing-function: var(--transition-timing-function);
}

.filter__button:hover,
.filter__button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--main-bg-color);
  background-color: var(--accent-color);
}

/*---------------
    Portfolio
---------------*/

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--flexbox-gap));
  margin-left: calc(-1 * var(--flexbox-gap));
}

.portfolio__item {
  margin-top: var(--flexbox-gap);
  margin-left: var(--flexbox-gap);
  flex-basis: calc((100% - 3 * var(--flexbox-gap)) / 3);

  transition-duration: var(--transition-duration);
  transition-property: box-shadow;
  transition-timing-function: var(--transition-timing-function);
}

.portfolio__item:hover,
.portfolio__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__item:last-child {
  margin-right: 0;
}

.portfolio__overlay {
  position: relative;
  overflow: hidden;
}

/* Overlay */

.portfolio__overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: calc(100% + 10px);
  color: var(--main-bg-color);
  background-color: var(--accent-color);

  transition-duration: var(--transition-duration);
  transition-property: transform;
  transition-timing-function: var(--transition-timing-function);

  transform: translateY(100%);

  opacity: 0.9;
}

.portfolio__item:hover .portfolio__overlay-text {
  transform: translateY(0);
}

.portfolio-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 24px;
  border: 1px solid var(--portfolio-border-color);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-bg-color);
}

.portfolio-content__subtitle {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: calc(100% + 18px);
  font-weight: 700;
  color: var(--main-text-color);
  letter-spacing: 0.06em;
}

.portfolio-content__text {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: calc(100% + var(--font-standard-size));
  color: var(--additional-text-color);
  letter-spacing: 0.03em;
}

/*---------------
      Footer
---------------*/

.footer {
  background-color: var(--secondary-bg-color);
}

.footer .container {
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(100% + 5px);
  color: var(--main-bg-color);
}

.footer__logo span {
  color: var(--accent-color);
}

.footer__address {
  padding-bottom: 10px;
  font-size: var(--font-standard-size);
  line-height: calc(100% + 10px);
  font-style: normal;
  color: var(--main-bg-color);
}

.footer-contacts__item a {
  width: calc(100% / 12 * 8);
  font-size: var(--font-standard-size);
  line-height: calc(100% + 10px);
  letter-spacing: 0.02em;
  color: var(--main-bg-color);

  transition-duration: var(--transition-duration);
  transition-property: color;
  transition-timing-function: var(--transition-timing-function);

  opacity: 0.6;
}

.footer-contacts__item a:hover,
.footer-contacts__item a:focus {
  color: var(--accent-color);
}

.footer-contacts__item:first-child {
  padding-bottom: 10px;
}

.footer-contacts__item:last-child {
  margin-bottom: 0;
}

.footer__row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer__right-block {
  padding-left: 70px;
}

.footer-icons__text {
  padding-top: 10px;
  font-size: var(--font-standard-size);
  line-height: calc(100% + 2px);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--main-bg-color);
}

.footer-icons__list {
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.footer-icons__item:not(:last-child) {
  padding-right: 10px;
}

.footer-icons__item:last-child {
  margin-right: 0;
}

.footer-icons__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--main-bg-color);

  transition-duration: var(--transition-duration);
  transition-property: background-color;
  transition-timing-function: var(--transition-timing-function);
}

.footer-icons__link:hover,
.footer-icons__link:focus {
  border-radius: 50%;
  background-color: var(--accent-color);
  fill: var(--main-bg-color);
}

.footer-icons__img {
  width: 20px;
  height: 20px;
}

.subscribe__form {
  padding-left: 94px;
}

.subscribe__label {
  display: inline-flex;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: var(--font-standard-size);
  line-height: calc(100% + 2px);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--main-bg-color);
}

.subscribe__row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.subscribe__email {
  min-width: 358px;
  min-height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-right: 12px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 16px;
  line-height: calc(100% + 4px);
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--secondary-bg-color);
}

.subscribe__button {
  display: flex;
  align-items: center;
  min-width: 200px;
  min-height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  font-size: 16px;
  line-height: calc(100% + 14px);
  font-weight: 700;
  text-transform: capitalize;
  border-radius: 4px;
  border: 1px solid rgba(33, 150, 243, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  color: var(--main-bg-color);

  transition-duration: var(--transition-duration);
  transition-property: transform;
  transition-timing-function: var(--transition-timing-function);
}

.subscribe__button:hover,
.subscribe__button:focus {
  transform: var(--transform-effect);
}

.subscribe__img {
  margin-left: 10px;
}

/*---------------
      Modal
---------------*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition-property: visibility, opacity;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  opacity: 1;
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;

  opacity: 0;
}

.modal__body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.modal__content {
  position: relative;
  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 10px;
  background-color: var(--main-bg-color);

  transition-duration: var(--transition-duration);
  transition-property: fill;
  transition-timing-function: var(--transition-timing-function);
}

.modal__close-button:hover,
.modal__close-button:focus {
  fill: var(--accent-color);
}

/* Modal-form */

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__title {
  padding: 40px 40px 6px 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(100% + 3px);
  text-align: center;
}

.modal__label {
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  font-size: 12px;
  line-height: calc(100% + 2px);
  letter-spacing: 0.01em;
  color: var(--additional-text-color);
}

.modal__field {
  display: flex;
  flex-direction: column;
  min-width: 448px;
  min-height: 40px;
  margin-top: 4px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-duration: var(--transition-duration);
  transition-property: border, outline;
  transition-timing-function: var(--transition-timing-function);
}

.modal__field:hover,
.modal__field:focus {
  outline: var(--accent-color);
  cursor: pointer;
  border: 1px solid var(--accent-color);
}

.modal__field:hover + .modal__field-img,
.modal__field:focus + .modal__field-img {
  transition-duration: var(--transition-duration);
  transition-property: fill;
  transition-timing-function: var(--transition-timing-function);
  fill: var(--accent-color);
}

.modal__field-img {
  position: absolute;
  top: 39px;
  left: 50px;
}

.textarea {
  display: flex;
  min-width: 448px;
  min-height: 120px;
  resize: none;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-duration: var(--transition-duration);
  transition-property: border, outline;
  transition-timing-function: var(--transition-timing-function);
}

.textarea:hover,
.textarea:focus {
  outline: var(--accent-color);
  cursor: pointer;
  border: 1px solid var(--accent-color);
}

.modal__agreement {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.modal__agreement-label::before {
  content: '';
  display: inline-flex;
  height: 18px;
  width: 18px;
  border-radius: 4px;
  margin-right: 10px;
  background-image: url('../images/icons.svg#icon-box');
  background-color: rgba(24, 140, 232, 0.5);

  transition-duration: var(--transition-duration);
  transition-property: background-image;
  transition-timing-function: var(--transition-timing-function);
}

.modal__agreement-check:checked + .modal__agreement-label::before {
  content: '';
  background-image: url('../images/icon_check.svg');
  background-size: contain;
}

.modal__agreement-label {
  display: inline-flex;
  align-items: center;
}

.modal__agreement-link {
  display: inline-flex;
  padding-left: 4px;
  text-decoration: underline;
  color: var(--accent-color);
}

.modal__btn {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
