.after-hero-list {
  @include listFlexGap();
  margin-top: 0;
}

.after-hero-list__item {
  @include itemFlexGap(4);
  margin-top: 0;
}

.after-hero-img {
  @include centeredFlex();
  padding: 25px 0;
  margin-bottom: 30px;
  background-color: $button-bg-color;
}

.after-hero-list__subtitle {
  margin-bottom: 10px;
  @include fontLineWeightLetter(14, 16, bold, base);
  text-transform: uppercase;
  color: $main-text-color;
}

.after-hero-list__text {
  @include fontLineWeightLetter(14, 24, norm, base);
  color: $additional-text-color;
}

.after-hero-list li:last-child {
  margin-right: 0;
}
