.header-contacts__list {
  display: flex;
}

.header-contacts__item a {
  font-family: $main-font;
  // font-size: 14px;
  // line-height: 16px;
  // font-weight: 500;
  // letter-spacing: 0.03em;
  @include fontLineWeightLetter(14, 16, med, base);
  color: $additional-text-color;

  // transition-duration: $transition-duration;
  // transition-property: color, fill;
  // transition-timing-function: $transition-timing-function;
  @include transitionRules(color, fill);

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}

.header-contacts__item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts__list li:last-child {
  margin-right: 0;
}

.header-contacts__mail {
  // display: flex;
  // flex-direction: row-reverse;
  // align-items: center;
  @include reverseFlex();

  &-svg {
    margin-right: 10px;
  }
}

.header-contacts__tel {
  // display: flex;
  // flex-direction: row-reverse;
  // align-items: center;
  @include reverseFlex();

  &-svg {
    margin-right: 10px;
  }
}
