.portfolio-list {
  //  display: flex;
  //  flex-wrap: wrap;
  //  margin-top: calc(-1 * #{$flexbox-gap});
  //  margin-left: calc(-1 * #{$flexbox-gap});
  @include listFlexGap();
}

.portfolio-list__item {
  // margin-top: $flexbox-gap;
  // margin-left: $flexbox-gap;
  // flex-basis: calc((100% - #{$number} * #{$flexbox-gap}) / #{$number});
  @include itemFlexGap(3);

  // transition-duration: $transition-duration;
  // transition-property: box-shadow;
  // transition-timing-function: $transition-timing-function;
  @include transitionRules(box-shadow);
}

.portfolio-list__item:last-child {
  margin-right: 0;
}

.portfolio-list__link {
  display: block;
}

.portfolio-list__link:hover,
.portfolio-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

// Overlay

.portfolio-list__overlay {
  position: relative;
  overflow: hidden;

  &-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    // font-size: 18px;
    // line-height: 28px;
    // font-weight: 400;
    // letter-spacing: 0.03em;
    @include fontLineWeightLetter(18, 28, norm, base);
    color: $main-bg-color;
    background-color: $accent-color;

    // transition-duration: $transition-duration;
    // transition-property: transform;
    // transition-timing-function: $transition-timing-function;
    @include transitionRules(transform);

    transform: translateY(100%);

    opacity: 0.9;
  }
}

.portfolio-list__link:hover .portfolio-list__overlay-text,
.portfolio-list__link:focus .portfolio-list__overlay-text {
  transform: translateY(0);
}

.portfolio-content {
  // display: flex;
  // flex-direction: column;
  @include columnFlexDirection();
  justify-content: center;
  align-items: flex-start;
  padding: 20px 24px;
  border: 1px solid $portfolio-border-color;
  border-radius: 0px 0px 4px 4px;
  background-color: $main-bg-color;

  &__subtitle {
    font-family: $main-font;
    // font-size: 18px;
    // line-height: 36px;
    // font-weight: 700;
    // letter-spacing: 0.06em;
    @include fontLineWeightLetter(18, 36, bold, dbl);
    color: $main-text-color;
  }

  &__text {
    font-family: $main-font;
    // font-size: 16px;
    // line-height: 30px;
    // font-weight: 400;
    // letter-spacing: 0.03em;
    @include fontLineWeightLetter(16, 30, norm, base);
    color: $additional-text-color;
  }
}
