.footer__address {
  // font-size: 14px;
  // line-height: 24px;
  // font-weight: 400;
  // letter-spacing: 0.03em;
  @include fontLineWeightLetter(14, 24, norm, base);
  font-style: normal;
  color: $main-bg-color;

  & > p {
    margin-bottom: 10px;
  }
}

.footer-contacts-list__item a {
  width: calc(100% / 12 * 8);
  // font-size: 14px;
  // line-height: 24px;
  // font-weight: 400;
  // letter-spacing: 0.03em;
  @include fontLineWeightLetter(14, 24, norm, base);
  color: $main-bg-color;

  // transition-duration: $transition-duration;
  // transition-property: color;
  // transition-timing-function: $transition-timing-function;
  @include transitionRules(color);

  opacity: 0.6;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer-contacts-list__item:first-child {
  margin-bottom: 10px;
}

.footer-contacts-list__item:last-child {
  margin-bottom: 0;
}
