.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: $secondary-font;
  // font-size: 26px;
  // line-height: 31px;
  // font-weight: 700;
  // letter-spacing: 0.03em;
  @include fontLineWeightLetter(26, 31, bold, base);
  color: $main-bg-color;

  & span {
    color: $accent-color;
  }
}
