// Flex

@mixin spacedFlex($type: space-between) {
   display: flex;
   justify-content: $type;
   align-items: center;
}

@mixin centeredFlex($type: center) {
   display: flex;
   justify-content: $type;
   align-items: center;
}

@mixin reverseFlex($type: row-reverse) {
   display: flex;
   flex-direction: $type;
   align-items: center;
}

@mixin verticalFlexCenter {
   display: flex;
   justify-content: center;
}

@mixin columnFlexDirection {
   display: flex;
   flex-direction: column;
}

@mixin alignFlexCenter {
   display: flex;
   align-items: center;
}

// Transitions

@mixin transitionRules($attribute...) {
   transition-duration: $transition-duration;
   transition-property: $attribute;
   transition-timing-function: $transition-timing-function;
}

// Flexbox-gap

@mixin listFlexGap {
   display: flex;
   flex-wrap: wrap;
   margin-top: calc(-1 * #{$flexbox-gap});
   margin-left: calc(-1 * #{$flexbox-gap});
}

@mixin itemFlexGap($number) {
   margin-top: $flexbox-gap;
   margin-left: $flexbox-gap;
   flex-basis: calc((100% - #{$number} * #{$flexbox-gap}) / #{$number});
}

// Fs-lh-fw-ls

@mixin fontLineWeightLetter($font-size, $line-height, $font-weight, $letter-spacing) {
   font-size: calc(#{$font-size} * 1px);
   line-height: calc(#{$line-height} / #{$font-size});
   font-weight: $font-weight;

   @if ($letter-spacing == "base") {
      letter-spacing: $base-letter-spacing;
   } @else if ($letter-spacing == "multi") {
      letter-spacing: calc(#{$base-letter-spacing} * 2);
   } @else if ($letter-spacing == "divide") {
      letter-spacing: calc(#{$base-letter-spacing} / 3);
   } @else if ($letter-spacing == "convert") {
      letter-spacing: calc((#{$pixel-letter-spacing} / #{$font-size}) * 1em);
   }
}

// Container

@mixin containerWidth($layoutWidth) {
   @if ($layoutWidth == "work") {
      max-width: $fullLayoutWidth - $sidePadding;
   } @else if ($layoutWidth == "full") {
      max-width: $fullLayoutWidth;
   }

   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
}
